.bookCase {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    border: 1px solid black;
}
@media (min-width:800px){
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .iconCon {
        display: flex;
        justify-content: center;
        width: 800px;
    }
    .icon {
        padding: 1%;
        width: 13%;
        margin: 1%;
    }
    .iconImg {
        width:100%;
        padding: 2%;
        border: 3px solid white;
    }
    .iconImg:hover {
        padding: 2%;
        border: 3px solid black;
        border-radius: 15%;
        background-color: aqua;
    }

    .explain {
        border: 3px solid black;
        border-radius: 30px;
        width: 720px;
        height: 400px;
        padding: 40px;
        box-sizing: border-box;
    }
    .bookCase {
        width: 800px;
        
        
    }
    .bookInfo {
        width: 240px;
        height: auto;
    }
    .bookCover {
        width: 240px;
        height: 290px;
    }
}
@media (max-width: 799px){
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .iconCon {
        display: flex;
        justify-content: center;
    }
    .icon {
        padding: 1%;
        width: 13%;
        margin: 1%;
    }
    .iconImg {
        width:100%;
        padding: 2%;
        border: 3px solid white;
    }
    .iconImg:hover {
        padding: 2%;
        border: 3px solid black;
        border-radius: 15%;
        background-color: aqua;
    }

    .explain {
        border: 3px solid black;
        border-radius: 30px;
        width: 90vw;
        height: 50vw;
        padding: 40px;
        box-sizing: border-box;
    }
    .bookCase {
        width: 100%
    }
    .bookInfo {
        width: 30%;
        height: auto;
        font-size: 2vw;
    }
    .bookCover {
        width: 100%;
        height: 40vw;
    }
}