/* firstpage */
/* .scroll {
    display: flex;

    
    height: 200vh;
    background-color: #3e448b;
}
.startPage {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh;
}

.firstPage {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.firstImg {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.secondPage {
    display: flex;
    justify-content: center;
    position: fixed;

    width: 95%;
    border: 1px solid black;
}
.secondImg {
    position: relative;
    
    margin: 1%;
    width: 15%;
    border: 1px solid red;
}   

.first_button {
    display: flex;
    justify-content: center;
    position: fixed;
    opacity: 0.3;

    width: 82%;
    border: 1px solid black;
    background-color: aqua;
}
.first_buttonKid {
    position: relative;

    width:20%;
    height: 15vw;
    border: 2px solid blue;
} */
/* startPage */
.mainRange {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 200vh;
}
.firstPage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;

    background-color: #3e448b;
}
.coverImg {
    width: 100%;
    height: 500px;

    background-color: black;
}
.link_button_container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 100vh;
}
.link_button_container img {
    padding: 3px;
    box-sizing: border-box;
}
.link_button_left {
    display: flex;
    flex-direction: column;
    flex: 2;
}
.link_button:hover {
    background-color: white;
    opacity: 0.4;
    font-size: larger;

    transition: 0.7s;
}


/* center */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Main */
/* .iconCon {
    display: flex;
<<<<<<< HEAD:ddrg/src/App.css
    flex-wrap: wrap;

    background-color: aqua;
}
.fashion {
    display: flex;

    overflow: hidden;
}
.fashion_name {
    background-color: blue;
}
.fashion_item {
    height: 80%;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20%;
    box-sizing: border-box;
=======
    justify-content: center;
}
.icon {
    padding: 1%;
    width: 13%;
    margin: 1%;
>>>>>>> 0d37c9426adaf19d9d6cae4bb6ce46cc0f6f41c5:gitTestApp/ddrg/src/App.css
}
.iconImg {
    width:100%;
    padding: 2%;
    border: 3px solid white;
}
.iconImg:hover {
    padding: 2%;
    border: 3px solid black;
    border-radius: 15%;
    background-color: aqua;
}
.explain {
    border: 3px solid black;
    border-radius: 30px;
    padding: 40px;
    box-sizing: border-box;
} */
/* M_book */
.bookCase {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    border: 1px solid black;
}
.book_btn_box>button {
    width: 90px;
    height: 60px;

    font-size: 18px;

    margin: 5px;
    border: none;
    border: 1px solid black;
    border-radius: 10px;

    background-color: transparent;
}
@media (min-width:800px){
    /* stratPage */
    .firstPage{
        width: 800px;
    }
    .link_button_container {
        width: 800px;
    }
    .link_button_1 {
        width: 320px;
        height: 640px;
    }
    .link_button_2 {
        width: 480px;
        height: 320px;
    }
    .link_button_3 {
        width: 480px;
        height: 320px;
        background-color: green;
    }
    .link_button_4 {
        width: 400px;
        height: 320px;
        background-color: aqua;
    }
    .link_button_5 {
        width: 400px;
        height: 320px;
        background-color: aquamarine;
    }
    
    .iconCon {
        width: 800px;
    }
<<<<<<< HEAD:ddrg/src/App.css
    .fashion {
        width: 560px;
    }
    .fashion_name {
        width: 240px;
    }
    /* M_book */
=======

    .explain {
        width: 720px;
        height: 400px;
    }
>>>>>>> 0d37c9426adaf19d9d6cae4bb6ce46cc0f6f41c5:gitTestApp/ddrg/src/App.css
    .bookCase {
        width: 730px;
    }
    .bookInfo {
        width: 240px;
    }
    .bookCover {
        width: 240px;
        height: 290px;
    }
}
@media (max-width: 799px){
    /* stratPage */
    .firstPage{
        width: 100%;
    }
    .link_button_container {
        width: 100%;
    }
    .link_button_1 {
        width: 40vw;
        height: 80vw;
    }
    .link_button_2 {
        width: 60vw;
        height: 40vw;
    }
    .link_button_3 {
        width: 60vw;
        height: 40vw;
        background-color: green;
    }
    .link_button_4 {
        width: 50vw;
        height: 40vw;
        background-color: aqua;
    }
    .link_button_5 {
        width: 50vw;
        height: 40vw;
        background-color: aquamarine;
    }
<<<<<<< HEAD:ddrg/src/App.css
    /* fashion */
    .fashion_range {
        width: 100vw;
    }
    .fashion {
        width: 70vw;
    }
    .fashion_name {
        width: 30vw;
=======
    .explain {
        width: 90vw;
        height: 50vw;
>>>>>>> 0d37c9426adaf19d9d6cae4bb6ce46cc0f6f41c5:gitTestApp/ddrg/src/App.css
    }
    .bookInfo {
        width: 30%;
        font-size: 2vw;
        background-color: aqua;
    }
    .bookCover {
        width: 100%;
        height: 40vw;
    }
}